

header{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h3{
    
    font-size: 10px;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}


.logo-img{
    height: 15px;

}

.menu-list{
  display: none;
}

.menu-list li a{
   color: black;
}

.menu-list-item-c a {
    text-decoration: none; 
    color: darkblue;
}

.menu-list-item-c a:hover {
    text-decoration: underline; 
}

.menu-list-item-c li {
    list-style-type: none; 
    margin-left: 0; 
}

.menu-list-item-c {
    display: inline-block; 
    margin-left: 20px; 
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #f0f8ff;
    transition: background-color 0.3s ease;
}

.menu-list-item-c:hover {
    background-color: #d3e9ff;
}

@media (min-width: 1024px){

    header {
        padding: 20px 100px;

    }

    .log {
      font-size: 16px;
    }

    .menu-list {
      display: flex;
      flex-direction: row;
      font-size: 16px;
      gap: 10px;
    }

    .menu-list-item-c {
        display: none;

    }
}