.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 10px 15px 10px;
  
}
.imagen-profile {
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%; 
    margin: 10px 0 0 25%;
}

.oval-image {
    width: 100%; 
    display: block; 
    border-radius: 50%; 
    
}

.yo-soy h1{
  font-weight: bold;
  font-size: 26px;
  margin: 10px 0 25px 25px;

}

.yo-soy h3 {
    font-size: 16px;
    margin: 10px;
}

.menu-rrss{
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: bold;
  margin: 25px ;
  gap: 35px;
  
  
}

@media (min-width: 1024px){

  .profile{
    display: flex;
    width: 97%;
    flex-direction: center;
    align-items: center;
    background-color: #d3c6c6 ;
    border-radius: 8px;
  }   

    .imagen-profile {
      width: 400px; 
      height: 400px; 
      overflow: hidden; 
      border-radius: 0%; 
      margin: 10px 0 0 25px;
      margin-right: 64px;
  }

  .menu-rrss{
    display: flex;
    width: 100%;
    
  }



}